<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tables</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>

    <h1 class="table-title1"><b>Table 1: Table <br>of Fruits and <br>Their Prices</b></h1>
    <table class="first-table">
        <tr>
            <th>Fruit</th>
            <th>Price</th>
        </tr>
        <tr>
            <td>Apple</td>
            <td>$0.25</td>
        </tr>
        <tr>
            <td>Orange</td>
            <td>$0.50</td>
        </tr>
        <tr>
            <td>Banana</td>
            <td>$1.00</td>
        </tr>
        <tr>
            <td>Pineapple</td>
            <td>$2.00</td>
        </tr>
        <tr>
            <td><b>Total</b></td>
            <td><b>$3.75</b></td>
        </tr>
    </table>

    <h2 class="table-title2">Table 2: A more complex sample table</h2>
    <div class="table-container">
        <table class="second-table">
            <thead>
                <tr>
                    <th rowspan="2"><img src="/static/images/desert.jpg" alt="Desert Image"></th>
                    <th colspan="4">Camelid comparison<br>Approximate as of 6/2011</th>
                </tr>
                <tr>
                    <th># of humps</th>
                    <th>Indigenous region</th>
                    <th>Spits?</th>
                    <th>Produces wool?</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>Dromedary</b></td>
                    <td>1</td>
                    <td>Arabian Peninsula</td>
                    <td>Yes</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td><b>Camels(bactrian)</b></td>
                    <td>2</td>
                    <td>Africa/Asia</td>
                    <td>Yes</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td><b>Llamas</b></td>
                    <td>1</td>
                    <td>Andes Mountains</td>
                    <td>Yes</td>
                    <td>Yes</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>
